<!-- src/app/pages/purchase/purchase.component.html -->

<div class="container mt-5">
    <h2 class="mb-4 text-center">Tus compras.</h2>

    <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap" style="display: flex; justify-content: center; align-items: center; gap: 15px;">
        <button class="btn btn-outline-primary" (click)="goToHistory()">📜 Ver historial de compras</button>
        <button class="btn btn-outline-success" (click)="continueShopping()">🛍️ Seguir comprando</button>
        <button class="btn btn-outline-secondary" (click)="goToProfile()">👤 Ir a perfil </button>
    </div>
</div>