<p>footer works!</p>
<div class="container">
    
    <div class="">
        <div class="up-us-left">
            <h3>FullStorAgs</h3>
            <ul>
                <li>Tu aliado digital en cada byte</li>                
            </ul>
        </div>
        <div class="up-privacy-center">
            <ul>
                <li><a href="">Politica de privacidad</a></li>
                <li><a href="">Terminos y condiciones</a></li>
                <li><a href="">Politica de cookies</a></li>
                <li><a href="">Aviso legal</a></li>
                <li><a href="">Centro de ayuda</a></li>
            </ul>
        </div>
        <div class="up-contact-right">
            <h3>Contacto</h3>
            <ul>
                <li><a href=""><i class="fa-solid fa-phone"></i>: 449 123 45 67</a></li>
                <li><a href=""><i class="fa-solid fa-envelope"></i>: fullstorags&commat;gmail.com</a></li>
                <li><a href=""><i class="fa-solid fa-clock"></i>: Lunes a Viernes 9am - 6pm</a></li>
            </ul>
        </div>

        <div class="down-footer">
            <div class="down-socials">
                <h3>Redes Sociales</h3>
                <ul>
                    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="down-text">
                <p>&copy; <a href=""><span>FullStorAgs</span></a> {{ footerDate }}. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
    
</div>