<!-- ***** src/app/pages/offers/offers.component.html ***** -->
<!-- Carrusel de ofertas -->
<div id="offersCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Loader -->
    <div *ngIf="isLoading" class="text-center my-5">
        <i class="fa-solid fa-spinner fa-spin fa-3x text-primary"></i>
        <p class="mt-2">Cargando productos...</p>
    </div>

    <!-- Contenido real -->
    <div *ngIf="!isLoading" class="carousel-inner">
        <div *ngFor="let slide of offerSlides; let i = index"
            class="carousel-item"
            [class.active]="i === 0">

        <h6 class="fw-bold text-center mb-3 fs-5">Nuestras ofertas...</h6>

        <div class="d-flex justify-content-center gap-3">
            <div *ngFor="let p of slide"
                class="card shadow-sm position-relative"
                [ngStyle]="{'width': getCardWidth(slide.length)}">

            <!-- Badge de descuento -->
            <span *ngIf="pricesService.getLastPrice(p.idProduct) as lastPrice"
                    class="badge bg-danger position-absolute top-0 start-0 m-2 fs-5 p-2"
                    style="border: 2px solid white; box-shadow: 0 2px 6px rgba(0,0,0,0.3);">
                -{{ ((lastPrice - p.price) / lastPrice * 100) | number:'1.0-0' }}%
            </span>

            <img [src]="p.imgProduct"
                alt="Imagen del producto"
                class="card-img-top"
                style="object-fit: cover; height: 140px;">
            <div class="card-body d-flex flex-column p-2">
                <h6 class="card-title mb-1" style="height: 36px; overflow: hidden;">
                {{ p.productName }}
                </h6>
                <p class="card-text mb-1"><small class="text-muted">Disponibles: {{ p.quantity }}</small></p>
                <p>
                <span *ngIf="pricesService.getLastPrice(p.idProduct) as lastPrice"
                        class="text-decoration-line-through me-2">
                    Desde {{ lastPrice | currency }}
                </span>
                <span class="fw-bold text-success">A tan solo: {{ p.price | currency }}</span>
                </p>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#offersCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark rounded-circle p-3"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#offersCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark rounded-circle p-3"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>

<hr>

<!-- Carrusel de Marcas -->
<div id="brandsCarousel" class="carousel slide" data-bs-ride="carousel">
    <div *ngIf="isLoading" class="text-center my-5">
        <i class="fa-solid fa-spinner fa-spin fa-3x text-primary"></i>
        <p class="mt-2">Cargando marcas...</p>
    </div>

    <div *ngIf="!isLoading" class="carousel-inner">
        <div *ngFor="let slide of brandSlides; let i = index"
            class="carousel-item"
            [class.active]="i === 0">
        <h6 class="fw-bold text-center mb-3 fs-5">Las mejores marcas...</h6>

        <div class="d-flex justify-content-center gap-3">
            <div *ngFor="let item of slide"
                class="card shadow-sm text-center p-3"
                [ngStyle]="{'width': getCardWidth(slide.length)}">

            <img [src]="item.brand.logo || 'public/images/default-logo.png'"
                alt="Logo {{ item.brand.name }}"
                class="mb-2"
                style="width: 100%; height: 150px; object-fit: contain; border-radius: 15px;">

            <h6 class="fw-bold mb-1">{{ item.brand.name }}</h6>
            <p class="mb-0">🏅 Posición: {{ item.position }}</p>
            </div>
        </div>
        </div>
    </div>

    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#brandsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark rounded-circle p-3"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#brandsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark rounded-circle p-3"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>

<hr>

<!-- Carrusel de Más Vendidos -->
<div id="salesCarousel" class="carousel slide" data-bs-ride="carousel">
    <div *ngIf="isLoading" class="text-center my-5">
        <i class="fa-solid fa-spinner fa-spin fa-3x text-primary"></i>
        <p class="mt-2">Cargando más vendidos...</p>
    </div>

    <div *ngIf="!isLoading" class="carousel-inner">
        <div *ngFor="let slide of topProductSlides; let i = index"
            class="carousel-item"
            [class.active]="i === 0">

        <h6 class="fw-bold text-center mb-3 fs-5">Los más vendidos...</h6>

        <div class="d-flex justify-content-center gap-3">
            <div *ngFor="let p of slide"
                class="card shadow-sm border-success position-relative"
                [ngStyle]="{'width': getCardWidth(slide.length)}">

            <span *ngIf="pricesService.getLastPrice(p.idProduct) as lastPrice"
                    class="badge bg-danger position-absolute top-0 start-0 m-2 fs-5 p-2"
                    style="border: 2px solid white; box-shadow: 0 2px 6px rgba(0,0,0,0.3);">
                -{{ ((lastPrice - p.price) / lastPrice * 100) | number:'1.0-0' }}%
            </span>

            <img [src]="p.imgProduct"
                alt="Imagen del producto"
                class="card-img-top"
                style="object-fit: cover; height: 160px;">

            <div class="card-body text-center p-2">
                <h6 class="card-title mb-1" style="height: 36px; overflow: hidden;">{{ p.productName }}</h6>
                <p class="fw-bold text-success mb-1">
                <span *ngIf="pricesService.getLastPrice(p.idProduct) as lastPrice" class="text-danger">
                    Desde {{ lastPrice | currency }}
                </span>
                <br>
                A tan solo {{ p.price | currency }}
                </p>
                <span class="badge bg-warning text-dark">🔥 Más vendido</span>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#salesCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark rounded-circle p-3"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#salesCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark rounded-circle p-3"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>